pandas>=2.2.0
numpy>=1.23.0
matplotlib==3.9.2
seaborn>=0.13.0
scipy>=1.11.0
statsmodels>=0.14.0
scikit-learn>=1.4.0
phik>=0.12.4
pingouin>=0.5.4
lightgbm>=4.3.0
catboost>=1.2.3
shap==0.44.0
optuna-integration>=3.6.0
