pandas>=2.2.0
numpy==1.23.0
scipy>=1.12.0
matplotlib==3.7.3
seaborn>=0.13.0
scikit-learn>=1.4.0
statsmodels>=0.14.0
numba==0.57.1
phik>=0.12.3
pingouin>=0.5.4
shap==0.44.0
lightgbm>=4.3.0
catboost>=1.2.5
pgeocode>=0.4.0
