catboost==1.2.8
hyperopt==0.2.7
lightgbm==4.5.0
pandas==2.2.2
phik==0.12.4
pingouin==0.5.5
scikit-learn==1.6.1
seaborn==0.13.2
shap==0.47.2
sqlalchemy==2.0.40
statsmodels==0.14.4
pytorch-tabnet==4.1.0
